<div id="wrapper">
    <!-- Sidebar -->
    <div *ngIf="isLogged" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/home">
                    Red Social - ¿Te Llevo?
                </a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/comentario">Comentarios</a>
            </li>
            <li>
                <a href="#">Conductores</a>
            </li>
            <li>
                <a href="#">Denuncias</a>
            </li>
            <li>
                <a href="#">Etiquetas</a>
            </li>
            <li>
                <a href="#">Mensajes</a>
            </li>
            <li>
                <a href="#">Publicaciones</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/usuario">Usuarios</a>
            </li>
            <li>
                <a href="#">Viajes</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet>
                    </router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <app-footer *ngIf="!isLogged">
    </app-footer>

</div>
<!-- /#wrapper -->

