<div id="wrapper">
    <!-- Sidebar -->
    <div *ngIf="isLogged" id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/home" onclick="toggleSideBar()">
                    Red Social - ¿Te Llevo?
                </a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/comentario" onclick="toggleSideBar()">Admin - Comentarios</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/conductor" onclick="toggleSideBar()">Admin - Conductores</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/denuncia" onclick="toggleSideBar()">Admin - Denuncias</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/etiqueta" onclick="toggleSideBar()">Admin - Etiquetas</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/mensaje" onclick="toggleSideBar()">Admin - Mensajes</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/publicacion" onclick="toggleSideBar()">Admin - Publicaciones</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/usuario" onclick="toggleSideBar()">Admin - Usuarios</a>
            </li>
            <li>
                <a *ngIf="rol == 1" routerLink="/parametros/viaje" onclick="toggleSideBar()">Admin - Viajes</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet>
                    </router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <app-footer *ngIf="!isLogged">
    </app-footer>

</div>
<!-- /#wrapper -->

