<div class="container">
  <div class="col-sm-12 alineacion py-3">
    <h2 class="text-1">Registro</h2>

    <form [formGroup]="uploadForm" class="bg-color col-sm-10">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="foto_cedula" class="text-2">Foto Cédula (.jpg)*</label>
          <div class="input-group">
            <input formControlName="foto_Cedula" (change)="onProfilePhotoSelect($event)" name="imagenCedula"
              class="form-control text-1" type="file">
            <input type="button" class="form-control text-1" value="Subir" (click)="subirImagenCedula()" />
          </div>
          <div class="warning-validator invalido" *ngIf="fgv.imagenCedula.errors">
            <strong *ngIf="fgv.imagenCedula.errors.required">
              La imagen es requerida.
            </strong>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="foto_personal" class="text-2">Foto Personal (.jpg)*</label>
          <div class="input-group">
            <input formControlName="foto_Personal" (change)="onCedulaPhotoSelect($event)" name="imagenPersonal"
              class="form-control text-1" type="file">
            <input type="button" class="form-control text-1" value="Subir" (click)="subirImagenPersonal()" />
          </div>
          <div class="warning-validator invalido" *ngIf="fgv.imagenPersonal.errors">
            <strong *ngIf="fgv.imagenPersonal.errors.required">
              La imagen es requerida.
            </strong>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="fgValidator" class="bg-color col-sm-10">
      <input type="text" class="form-control" formControlName="imagenCedula" />
      <input type="text" class="form-control" formControlName="imagenPersonal" />

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="primer_nombre" class="text-2">Primer Nombre*</label>
          <input formControlName="primer_Nombre" type="text" class="form-control text-2" id="primer_nombre"
            placeholder="Primer Nombre" required="required">
          <div class="warning-validator invalido"
            *ngIf="fgv.primer_Nombre.errors && (fgv.primer_Nombre.dirty || fgv.primer_Nombre.touched)">
            <strong *ngIf="fgv.primer_Nombre.errors.required">
              Primer Nombre requerido.
            </strong>
            <strong *ngIf="fgv.primer_Nombre.errors.minlength">
              El tamaño mínimo debe ser de 2.
            </strong>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="segundo_nombre" class="text-2">Segundo Nombre</label>
          <input formControlName="segundo_Nombre" type="text" class="form-control text-2" id="segundo_nombre"
            placeholder="Segundo Nombre">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="primer_apellido" class="text-2">Primer Apellido*</label>
          <input formControlName="primer_Apellido" type="text" class="form-control text-2" id="primer_apellido"
            placeholder="Primer Apellido" required="required">
          <div class="warning-validator invalido"
            *ngIf="fgv.primer_Apellido.errors && (fgv.primer_Apellido.dirty || fgv.primer_Apellido.touched)">
            <strong *ngIf="fgv.primer_Apellido.errors.required">
              Primer Apellido requerido.
            </strong>
            <strong *ngIf="fgv.primer_Apellido.errors.minlength">
              El tamaño mínimo debe ser de 2.
            </strong>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="segundo_apellido" class="text-2">Segundo Apellido</label>
          <input formControlName="segundo_Apellido" type="text" class="form-control text-2" id="segundo_apellido"
            placeholder="Segundo Apellido">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <label for="cedula" class="text-2">Cédula*</label>
          <input formControlName="cedula" type="text" class="form-control text-2" id="cedula" placeholder="Cédula"
            required="required">
          <div class="warning-validator invalido" *ngIf="fgv.cedula.errors && (fgv.cedula.dirty || fgv.cedula.touched)">
            <strong *ngIf="fgv.cedula.errors.required">
              Cédula requerida.
            </strong>
            <strong *ngIf="fgv.cedula.errors.minlength">
              El tamaño mínimo debe ser de 7 y máximo 11.
            </strong>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <label for="fecha_Nacimiento" class="text-2">Fecha de Nacimiento*</label>
          <input formControlName="fecha_Nacimiento" type="date" class="form-control text-2" id="fecha_Nacimiento"
            placeholder="Fecha" required="required">
          <div class="warning-validator invalido"
            *ngIf="fgv.fecha_Nacimiento.errors && (fgv.fecha_Nacimiento.dirty || fgv.fecha_Nacimiento.touched)">
            <strong *ngIf="fgv.fecha_Nacimiento.errors.required">
              Fecha requerida.
            </strong>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <label for="celular" class="text-2">Celular*</label>
          <input formControlName="celular" type="text" class="form-control text-2" id="celular" placeholder="Celular"
            required="required">
          <div class="warning-validator invalido"
            *ngIf="fgv.celular.errors && (fgv.celular.dirty || fgv.celular.touched)">
            <strong *ngIf="fgv.celular.errors.required">
              Celular requerido.
            </strong>
            <strong *ngIf="fgv.celular.errors.maxlength">
              El tamaño maximo debe ser de 10 .
            </strong>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="correo" class="text-2">Correo*</label>
          <input formControlName="correo" type="email" class="form-control text-2" id="correo"
            placeholder="correo@empresa.com">
          <div class="warning-validator invalido" *ngIf="fgv.correo.errors && (fgv.correo.dirty || fgv.correo.touched)">
            <strong *ngIf="fgv.correo.errors.required">
              Correo requerido.
            </strong>
          </div>
        </div>
      </div>

      <button type="button" (click)="registrarUsuario()" class="bt-azul btn">Registrar</button>
    </form>

  </div>
</div>