<!-- Footer -->
<footer class="page-footer font-small teal pt-4 bg-color text">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <div class="row">
      <!-- Contenido -->
      <div class="row col-sm">
        <div class="col-sm text-right">
          <img class="img-fluid" src="assets\imagenes\Logo.png">
        </div>
        <div class="col-sm text-left py-3">
          <h1 class="text-1">¿Te llevo? Red Social Viajeros</h1>
          <h2 class="text-2">
            Contacto:<br>Info@mysite.com<br>
            <a routerLink="/home">Read More</a>
          </h2>
        </div>
      </div>
      <!-- Contenido -->

      <!-- Boton -->
      <div class="col-sm text-center py-4">
        <button type="submit" routerLink="/usuarios/registro" class="bt-blanco btn">Registrate</button>
      </div>
      <!-- Boton -->
    </div>

    <div class="row">
      <!-- Copyright -->
      <div class="col-sm py-3 text-right">
        <h1 class="text-2">© 2020 Red Social Viajeros Grupo 01</h1>
      </div>
      <!-- Copyright -->

      <!-- Redes -->
      <div class="col-sm text-left py-2">
        <img class="img-fluid" src="assets\imagenes\Redes.JPG " routerLink="/home">
      </div>
      <!-- Redes -->
    </div>

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->