.bg-color
{
    background-color: #124154;
}

.text
{
    color: rgb(236, 236, 236);
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.text:hover
{
    color: #2C96F8;
}
